@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Rubik:wght@300&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
}

html{
    scroll-behavior: smooth;
}
/* */
body{
    height: 2000px;

}
/*------------------------navigation bar------------------------*/
.menu{
    display: flex;
    justify-content:center;
    background-color:rgb(30, 28, 28);
}
a{
    text-decoration: none;
    color: rgb(233, 210, 182);
    padding: 20px 40px;
    background-color: rgb(30, 28, 28);
    font-family: rubik;
}
a:active{
    opacity: 0.5;
}

/*------------------------------------------------*/

.custom-shape-divider-top-1669729631 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669729631 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom-shape-divider-top-1669729631 .shape-fill {
    fill: #F2AA4C;
}

/*------------------------home------------------------*/
.coverphoto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
    margin-top: 125px;
}
.phrase1{
    margin: auto;
}

p{

}
.greetings{
    padding-left: 120px;
    font-size: 25px;
    font-family: rubik;
    color:rgb(233, 210, 182);
}
.name{
    padding-left: 150px;
    font-size: 60px;
    font-family: Libre Franklin;
    color: #F2AA4CFF;
    position: absolute;
}
.photo1{
    width: 700px;
    
}

/*------------------------about me------------------------*/

.aboutme{
    display: flex;
    margin-top: 150px;
    justify-content:center;
    align-items: center;
    background-image: url('background1.jpg');
    background-repeat: no-repeat;
    height: 750px;
}

.photo2{
    width: 200px;
    border-radius: 100px;
    margin-right: 80px;
}


.intro{
    color: rgb(233, 210, 182);
    font-family: rubik;
    width: 500px;
    margin-left: 80px;
}

.innerHTML{
    color: rgb(233, 210, 182);
    font-family: rubik;
    width: 500px;
    margin-left: 80px;
}

/*------------------------hobbies------------------------*/

.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}


.basketball{
    display: flex;
    border-style: solid;
    border-color: grey;
    padding: 90px 120px;
    margin-right: 500px;
    width: 298px;
    background-image: url('pexels-koolshooters-6075890.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: lighten;
    font-family: rubik;
    font-weight: bold;
    color: whitesmoke;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
}
.cycling{
    display: flex;
    border-style: solid;
    border-color: grey;
    padding: 90px 120px;
    margin-left: 500px;
    margin-top: 20px;
    width: 298px;
    background-image: url('Color\ challenge;\ Wednesday\ orange\ —\ Steemit.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: lighten;
    font-family: rubik;
    font-weight: bold;
    color: whitesmoke;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
}
.reading{
    display: flex;
    border-style: solid;
    border-color: grey;
    padding: 90px 120px;
    margin-right: 500px;
    margin-top: 20px;
    width: 298px;
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: color-dodge;
    font-family: rubik;
    font-weight: bold;
    color: whitesmoke;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
}
.watching-movies{
    display: flex;
    border-style: solid;
    border-color: grey;
    padding: 90px 120px;
    margin-left: 500px;
    margin-top: 20px;
    width: 298px;
    background-image: url('watching\ movies.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode:color-dodge;
    font-family: rubik;
    font-weight: bold;
    color: whitesmoke;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
}
.gaming{
    display: flex;
    border-style: solid;
    border-color: grey;
    padding: 90px 120px;
    margin-right: 500px;
    margin-top: 20px;
    width: 298px;
    background-image: url('arcade.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode:color-dodge;
    font-family: rubik;
    font-weight: bold;
    color: whitesmoke;
    font-size:xx-large;
    justify-content: center;
    align-items: center;
}

.custom-shape-divider-bottom-1669770716 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669770716 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1669770716 .shape-fill {
    fill: #F2AA4C;
}
/*------------------------education------------------------*/

.ed-att{
    display: flex;
    flex-direction: row;
    height: 900px;
    justify-content: space-between;
    align-items:initial;
    text-align: center;
    padding: 0 50px;
    background-color: #F2AA4C;
}
.primary{
    flex: 1;
    border-style: none;
    border: solid;
    border-color: grey;
    color: rgb(233, 210, 182);
    font-family: rubik;
}
.primary-element{
    margin-top: 50px;
}
.secondary-element{
    margin-top: 50px;
}
.tertiary-element{
    margin-top: 90%;
}
.elem{
    margin-top: 60%;
}
.sh{
    margin-top: 60%;
}
.logo1{
    padding-top: 30px;
    width: 95px;
}
.logo2{
    padding-top: 30px;
    width: 95px;
}
.secondary{
    flex: 1;
    border-style: none;
    border: solid;
    border-color: grey;
    border-left: none;
    border-right: none;
    color: rgb(233, 210, 182);
    font-family: rubik;
}
.tertiary{
    flex: 1;
    border-style: none;
    border: solid;
    border-color: grey;
    color: rgb(233, 210, 182);
    font-family: rubik;
}
.contacts{
    background-color: #fa9006;
    height: 60px;
}

/*---------------------footer-------------------------*/
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
  }

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  h2{
    text-align: center;
    color: rgb(233, 210, 182);
    font-family: rubik;
    padding-top:50px;
  }
